*{
    border-radius: 12px;
}

body{
    background-color: rgb(1, 1, 26);
}

nav{
    font-family: 'Ubuntu', sans-serif;
    float:none;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display:contents;
    justify-content: space-between;
    align-content: auto;
}


.sus{
    
    color: rgb(167, 161, 161);
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
    
}

.sus1{
    font-size: 1.3rem; 
    display: flex;
    justify-content: space-between;
    align-content: auto;
    align-items: center;   
}

.sus2{
    font-size: 1.3rem;
}

.sus3{
    font-size: 1.3rem;
}




nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 75px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 25px;
}
.brand img{
    width: 50px;
    padding: 10px;
    border-radius: 20px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

/* 

<div class="upper">
        <nav>
            <ul>
                <li class="brand"><img src="/images/Welcome.jpg" alt="Welcome">My Website</li>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/webpages/about.html">About</a></li>
                <li><a href="/webpages/blog.html">Blog</a></li>
            </ul>
        </nav>
    </div>     */
